{%load static%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

  <head>
    <title>Payment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/checkout.css'%}">
  </head>

  <body>
    <main class="page payment-page">
      <section class="payment-form dark">
        <div class="container">
          <div class="block-heading">
            <h2>Payment</h2>
            <p style="color: white;" >Pay a small booking amount to confim your booking to your adventure </p>
          </div>

          <form method="post" action="{% url 'checkout' oid=dest.id %}">
            {% csrf_token %}
            <div class="products">
              <h3 class="title">Booking Details for {{dest.name}}</h3>
              <div class="item" style='margin-bottom:2em;'>
                <span class="price">{{form.name}}</span>
                <p class="item-name">Full Name</p>
              </div>
              <div class="item" style='margin-bottom:2em;'>
                <span class="price">{{form.number}}</span>
                <p class="item-name">Phone Number</p>
              </div>
              <div class="item" style='margin-bottom:2em;'>
                {% for value,name in form.fields.package.choices %}
                <span class="price" style='margin-right:1.25em; display:inline-block;'><input type="radio"
                    name="package" value="{{value}}">{{name}}</span>
                    {% endfor %}
                <p class="item-name">Package</p>
              </div>
              <div class="item" style='margin-bottom:2em;'>
                <span class="price">{{form.date}}</span>
                <p class="item-name">Booking Date</p>

              </div>

              <div class="total">Booking Amount<span class="price"> ₹ 2000 </span></div>
            </div>
            <div class="card-details">
              <h3 class="title">Credit Card Details</h3>
              <div class="row">
                <div class="form-group col-sm-7">
                  <label for="card-holder">Card Holder</label>
                  <input id="card-holder" type="text" class="form-control" placeholder="Card Holder"
                    aria-label="Card Holder" aria-describedby="basic-addon1">
                </div>
                <div class="form-group col-sm-5">
                  <label for="">Expiration Date</label>
                  <div class="input-group expiration-date">
                    <input type="text" class="form-control" placeholder="MM" aria-label="MM"
                      aria-describedby="basic-addon1">
                    <span class="date-separator">/</span>
                    <input type="text" class="form-control" placeholder="YY" aria-label="YY"
                      aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="form-group col-sm-8">
                  <label for="card-number">Card Number</label>
                  <input id="card-number" type="text" class="form-control" placeholder="Card Number"
                    aria-label="Card Holder" aria-describedby="basic-addon1">
                </div>
                <div class="form-group col-sm-4">
                  <label for="cvc">CVC</label>
                  <input id="cvc" type="text" class="form-control" placeholder="CVC" aria-label="Card Holder"
                    aria-describedby="basic-addon1">
                </div>
                <div class="form-group col-sm-12">
                  <button type="submit" class="btn btn-primary btn-block">Proceed</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>

</html>