{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Join</title>
        <link rel="stylesheet" href="{% static 'assets/css/join.css'%}">
    </head>

    <body>
        <h3>A journey of a thousand miles must begin with a single step</h3>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="register" method="post">
                    {% csrf_token %}
                    <h1>Create your account</h1>
                    <span>sign up with your email id</span>
                    <input type="text" name="first_name" placeholder="Name" />
                    <input type="text" name="username" placeholder="Username">
                    <input type="email" name="email" placeholder="Email" />
                    <input type="password" name="password" placeholder="Password" />
                    <button>Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="login" method="post">
                    {% csrf_token %}
                    <h1>Sign-In</h1>
                    <span>sign in with your email id</span>
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Password" />
                    <a href="#">Forgot your password?</a>
                    <button>Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome back!</h1>
                        <p> To check-out our latest travel plans login now</p>
                        <button class="ghost" id="signIn">Sign-In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hey there Explorer!</h1>
                        <p> Enter your personal details to start your travel planning</p>
                        <button class="ghost" id="signUp">Sign-Up</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            {% for message in messages %}
                {% if "Thanks" in messages %}
            <div class="success">
                <h2> {{message}}</h2>
            </div>
                {% else %}
            <div class="error">
                <h2> {{message}}</h2>
            </div>
                {% endif %}

            {% endfor %}
        </div>

        <script src="{% static 'assets/js/homemain.js' %}"></script>
    </body>

</html>