<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <h1>Henlo</h1>
<script>
                for (i = 0; i < ele.length; i++) {
                    if (ele[i].checked)
                        document.getElementById("result").innerHTML
                            = "Gender: " + ele[i].value;
                }
</script>
<div id ="result"></div>
</body>
<script src="./script.js"></script>
</html>