[Desktop Entry]
Encoding=UTF-8
Name=Link to Read More  
Type=Link
URL=file:///home/athul/Downloads/template147/travel-agency-website-template-147/blog.html
Icon=text-html
