{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>About Us</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no'%}" />
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}" />
        <link rel="stylesheet" href="{% static 'assets/css/main.css'%}" />
        <noscript>
            <link rel="stylesheet" href="{% static 'assets/css/noscript.css'%}" /></noscript>
    </head>

    <body class="is-preload">
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <div class="inner">
                    <!-- Logo -->
                    <a href="index" class="logo">
                        <span class="brand-logo"> <img src="{% static 'images/travellogo.png'%}" alt=""></span> <span
                            class="title">Travel
                            Bug</span>
                    </a>
                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <!-- Menu -->
            <nav id="menu">
                <h2>Menu</h2>
                <ul>
                    <li><a href="index" class="active">Home</a></li>
            
                    <li><a href="index">Packages</a></li>
            
                    <li>
                        <a href="#" class="dropdown-toggle">About</a>
            
                        <ul>
                            <li><a href="about">About Us</a></li>
                        </ul>
                    </li>
                    <li><a href="contact">Contact Us</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle">Hey {{user.first_name}}</a>
            
                        <ul>
                            <li><a href="logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <!-- Main -->
            <div id="main">
                <div class="inner">
                    <h1>About Us</h1>

                    <div class="image main">
                        <img src="{% static 'images/banner-image-1-1920x500.jpg' %}" class="img-fluid" alt="" />
                    </div>

                    <p>
                        Since 2000, Travel Bug has been focused on bringing our customers the best in esteem and quality
                        travel game
                        plans. We are enthusiastic about movement and sharing the India’s marvels on the relaxation
                        travel side, and
                        giving
                        corporate explorers hello there contact administrations to encourage their business travel
                        needs.
                    </p>
                    <p>
                        We’re a worker claimed travel organization secured by our qualities, trustworthiness and
                        commitment to
                        client benefit.
                        Our honor winning organization reliably positions as a standout amongst other offices in the
                        nation (Travel
                        Weekly,
                        Business Travel Weekly), and is a best individual from the renowned Signature Travel Network, an
                        overall
                        association
                        enabling us to give our clients unmatched advantages.

                    </p>
                    <p>
                        Our solid organization culture and enthusiasm for our calling has brought about our being named
                        every year
                        as one of the
                        “Best Places To Work” in India. Our administration is dynamic on different tourism warning
                        sheets and
                        panels for movement associations, travel magazines (Afar, Travel+Leisure), real inn brands, and
                        that’s only
                        the tip of
                        the iceberg. Travel is a Premium Member of ISTA (Indian Society of Travel Advisors),
                        Green Member office, and CLIA (Cruise Line International Association).
                    </p>
                </div>
            </div>

            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <section>
                        <ul class="icons">
                            <li>
                                <a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a>
                            </li>
                        </ul>

                        &nbsp;
                    </section>

                    <ul class="copyright">
                        <li>Copyright © 2020 TravelBug</li>
                </div>
            </footer>
        </div>

        <!-- Scripts -->
        <script src="{% static 'assets/js/jquery.min.js'%}"></script>
        <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'assets/js/jquery.scrolly.min.js'%}"></script>
        <script src="{% static 'assets/js/jquery.scrollex.min.js'%}"></script>
        <script src="{% static 'assets/js/main.js'%}"></script>
    </body>

</html>